<%- include("header") -%>

<div class='container pt-4 pb-5'>
    <h3>About</h3>  <hr/>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident veniam, facere excepturi accusantium alias voluptate
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic eveniet doloremque quo!
        ed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
    </p>
    <br>
    <p>est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est coat sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
         est corrupti voluptates accusamus hic officia at sed quae eligendi saepe velit eveniet doloremque quo!
        </p>

</div>


<%- include("footer") -%>